.mainDiv{
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  height: 80vh;
}

.pageTitle{
  font-size: 35px;
  font-weight: bolder;
}

.buttonDisplay{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url('../src/worldmap.png');
  background-repeat: no-repeat;
  width: 90vw;
  height: 80vh;
  background-size: contain;
}

.continentButton{
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  border-radius: 15px;
  border: 2px solid black;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
}

.africaImage{
  background-image: url('../src/africa.png');
  background-size: contain;
}
.americaImage{
  background-image: url('../src/america.png');
  background-size: contain;
}
.asiaImage{
  background-image: url('../src/asia.png');
  background-size: contain;
}
.europaImage{
  background-image: url('../src/europa.png');
  background-size: contain;
}
.oceaniaImage{
  background-image: url('../src/oceania.png');
  background-size: contain;
}

.countrySelection{
  width: 20vw;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border: 0;
  margin-bottom: 20px;
}

.fields{
  width: 70vw;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fields > div {
    flex: 1;
    text-align: center;
}

.fieldTitle{
  font-size: : 18px;
  font-weight: bold;
}

footer{
  display: none;
}

#coutrySelect{
  display:block;
}

@media only screen and (max-width: 800px) {
  .americaImage{
    background-image: url('../src/america.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .countrySelection2{
    width: 50vw;
    height: 30px;
    border: 1px solid black;
  }

  .continentButton{
    margin-bottom: 10px;
  }

  .pageTitle{
    font-size: 25px;
    font-weight: bolder;
  }

  footer{
    display: block;
  }

  #coutrySelect{
    display:none;
  }

  #coutrySelect{
    display:none;
  }

  .fields{
    width: 70vw;
    align-items: center;
    margin-bottom: 20px;
    display: block;
  }

  .fields > div {
      flex: 0;
      text-align: left;
  }
}
