html{
  font-family: 'Roboto', sans-serif;
}

section{
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.worldBackground{
  background-image: url('../src/worldmap.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: auto;
}

.continentBackground{
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  height: 80vh;
  width: auto;
}

.africaBackground{
  background-image: url('../src/africa.png');
}

.americaBackground{
  background-image: url('../src/america.png');
}

.asiaBackground{
  background-image: url('../src/asia.png');
}

.europaBackground{
  background-image: url('../src/europa.png');
}

.oceaniaBackground{
  background-image: url('../src/oceania.png');
}

.sectionTitle{
  font-size: 30px;
  font-size: 3.5vw;
  font-weight: bold;
}

.sectionSubTitle{
  font-size: 20px;
  font-size: 2.5vw;
  font-weight: bold;
}

.sectionAbout{
  font-size: 16px;
  font-size: 2.0vw;
  font-weight: bold;
}

.continentButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 85%;
}

.transparentButton{
  background-color: rgba(0,0,0,0);
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}

.transparentButton:hover{
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.transparentButton:active{
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.countrySelection{
  color: black;
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
  border: 2px solid black;
  width: 50%;
}

.countrySelection:hover{
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.countrySelection:active{
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.infoBox{
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
}

.info{
  width: 48%;
  text-align: center;
  margin-top: 15px;
  margin-right:1%;
  margin-left:1%;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 800px){
  .sectionTitle{
    font-size: 6vw;
    font-weight: bold;
  }

  .sectionSubTitle{
    font-size: 6vw;
    font-weight: bold;
  }

  .sectionAbout{
    font-size: 4vw;
    font-weight: bold;
  }

  .transparentButton{
    width: 80%;
  }

  .countrySelection{
    width: 100%;
  }

  .info{
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
  }

  .continentBackground{
    background-repeat: no-repeat;
  }
}
